body {
    margin: 0;
    overflow: hidden;
    font-size: 14;
}

* {
    box-sizing: border-box;
}

/* Outermost div */
.container {
    height: 100vh;
}

/* Title of the sheet */
.title-bar {
    height: 5vh;
    background-color: #017c41;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Menu bar & Menu Items */
.menu-bar {
    height: 5vh;
    background-color: #017c41;
    display: flex;
}

.menu-item {
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 18;
    display: flex;
    align-items: center;
}

.menu-item:hover {
    background-color: #016836;
    cursor: pointer;
}

.menu-item.selected {
    background-color: #fff;
    color: #017c41;
}

.menu-item.selected:hover {
    background-color: #fff;
    cursor: default;
}

/* Menu Icon Bar */
.menu-icon-bar {
    height: 6vh;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
}

.menu-icon {
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-icon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.selector {
    height: 30px;
    font-size: 18px;
}

.selector option {
    font-size: 18px;
}

.font-family-selector {
    width: 150px;
}

/* Formula Bar */
.formula-bar {
    height: 5vh;
}

/* Data Container */
.data-container {
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
}

.select-all {
    height: 30px;
    width: 30px;
    background-color: orange;
}

.col-name-container {
    height: 30px;
    width: calc(100vw - 30px);
    background-color: red;
}

.row-name-container {
    height: calc(75vh - 30px);
    width: 30px;
    background-color: green;
}

.input-cell-container {
    height: calc(75vh - 30px);
    width: calc(100vw - 30px);
    background-color: pink;
}

/* Sheet Bar */
.sheet-bar {
    height: 4vh;
    display: flex;
    align-items: center;
}

.icon-left-scroll,
.icon-right-scroll {
    font-size: 30px;
}

.icon-left-scroll:hover,
.icon-right-scroll:hover {
    background-color: lightgray;
    cursor: pointer;
}

.icon-add {
    color: #017c41;
    padding-left: 10px;
    padding-right: 10px;
}

.icon-add:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.sheet-tab-container {
    display: flex;
}

.sheet-tab {
    border-bottom: 4px solid #017c41;
    margin-left: 1px;
    margin-right: 1px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

.sheet-tab:hover {
    cursor: default;
}